body{
    background-color: black;
}


.header-text{
    border:2px dashed pink;
    background-color: white;
    color: black;
    
}
.header{
    width:500px;
    margin-left:300px;
}

#output{
    width:400px;
}

#input{
    width:300px;
}

.cover{
    width:700px;
    background-color:blue;
    margin-left:200px;
}